.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.about-img {
  width: 150px;
}
.about-heading {
  font-family: 'Roboto';
  font-weight: 500;
  color: #3d3d3d;
}
.about-paragraph {
  font-family: 'Roboto';
  font-size: 20px;
  text-align: center;
  color: #555555;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.contact-img {
  width: 150px;
}
.contact-heading {
  font-family: 'Roboto';
  font-weight: 500;
  color: #3d3d3d;
}
.nav-header {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('https://assets.ccbp.in/frontend/react-js/books-blog-bg.png');
}
.nav-menu {
  list-style-type: none;
  display: flex;
  margin-left: -40px;
}

.nav-link {
  text-decoration: none;
  margin: 10px;
  color: white;
  font-family: 'Roboto';
}

.blog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.blog-title {
  font-family: 'Roboto';
  color: white;
  font-size: 16px;
}
.sub-title {
  color: white;
  font-family: 'Roboto';
  margin-top: 0px;
}

li {
  list-style-type: none;
  text-decoration: none;
  margin: 10px;
  color: white;
  font-family: 'Roboto';
  cursor: pointer;
}

@media screen and (min-width: 575px) {
  .blog-title {
    font-family: 'Roboto';
    color: white;
    font-size: 34px;
  }
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.home-img {
  width: 150px;
}
.home-heading {
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 56px;
  color: #3d3d3d;
}
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.not-found-img {
  width: 400px;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}